@media only screen and (max-width:576px){

    *{
        margin: 0px;
        padding:0px;
        box-sizing: border-box;
    }
    header{
        height:600px;
        background-image: url('../images/call-of-duty.png');
        background-size: cover;
        background-position: center;
    }
    .header-container{
        padding-left:10px;
        padding-right:10px;
        padding-top:10px;
        padding-bottom:10px;
        display: flex;
        flex-wrap: wrap;
    }
    .header-container1{
        padding:20px;
        height:60px;
        background-color: rgba(0,0,0,0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        
    
    }
    .header-container2{
        padding:20px;
        height:60px;
        background-color: rgba(0,0,0,0.8);
        display: flex;
        align-items: flex-start;
        justify-content:center;
        
        width:100%;
    }
    .navbarul1{
        display: none;
    }
    .navbarul3{
        display: block;
        color:white;
        margin-left: 20px;
        position: relative;
        bottom: 5px;

        
        
    }

    .navbarul3 li {
        display: none;
    }
    .navbarul3:hover li {
        display: block;
        width:100px;
        background-color: rgba(0,0,0,0.8);
        text-align: center;
    }
    .navbarul3 li a{
        text-decoration: none;
        color:white;
        border-bottom:1px solid white;
        
        margin-bottom: 3px;
        
    }
    .navbar3container{
        
        display:flex;
        align-items: flex-start;
    }
    .nav3li1{
        margin-top: 12px;
    }
    .navbar3container{
        
        display:flex;
        align-items: flex-start;
        width:100%;
        height:60px;
        background-color: rgba(0,0,0,0.8);
        justify-content: center;
    }
    .navbarul3 li a:hover{
        color:yellow;
    }
    .banner-text p{
        color:white;
        margin-bottom: 20px;
        margin-top: 200px;
    }
    .banner-text{
        padding:10px;
        width:100%;
        text-align: center;
    }
    .hori1{
        margin-left: 0px;
        width:60%;
    }
    .hori2{
        width:5%;
        position:relative;
        top:-5px;
        height:2px;
    }
    .fourpic{
        width:100%;
        height:500px;
        padding:40px;
        padding-bottom:10px!important;
        display: flex;
        justify-content:center;
        align-items:flex-end;
        
    }
    .fourpic3{
        margin-top: 10px;

    }
    .fourpic4{
        margin-top: 10px;
    }
    .fourpic2{
        margin-top:10px;
    }
    .fourpiccontainer{
        padding:10px;
    }
    .newscontainer{
        padding:0px 10px;
        
    
    }
    .twonewscontainer{
        padding:0px 10px;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .firstnews{
        width:100%;
        height:120px;
       
        display: flex;
    }
    .rectangle{
        height:120px;
    }
    .newsleft{
        width:100%;
        height:500px;
        background-image: url('../images/Rectangle 17.png');
        border-width:4px;
        border-style:solid;
        border-image:linear-gradient(to top,pink,black)1;
        padding:50px 10px;
        display: grid;
        align-items:end;
        margin-bottom: 20px;
    }
    
    
    .newsright{
        width:100%;
        height:500px;
        
        display:flex;
        flex-direction: column;
        justify-content:space-between;
    }
    .learnmorecontainer{
        width:100%;
        text-align: center;
        padding:50px;
    }
    .black-cell-container{
        height:298px;
        padding: 0px 10px;
        background-image:url('../images/Rectangle 30.png');
        background-size:cover;
        background-position: 10px;
        display:flex;
        justify-content: flex-end;
        
    }
    .blackcell-para{
        width:100%;
        padding:30px;
        text-align: center;
    }
    .seven-pic-container{
        padding:40px 10px;
        display: flex;
        flex-wrap: wrap;
        background-image:url('../images/32993994_840843081452 2.png') ;
        background-size: cover;
        background-position: center;
        justify-content: space-between;
    }
    .seven-pic-item{
        width:40%;
    }
    footer{
        padding: 30px 50px;
        text-align: center;
    }
    .fimg1{
        margin-right: 20px;
    }
    footer p{
        margin-top: 30px;
    }


}